{% extends 'default/layout/base.Twig' %}
{% block title %} 系统设置 {% endblock %}

{% block content %}
	<form action="/saveSettings" method="post" class="px-10 py-4" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{{ data.id }}">
		<div class="bulma-field">
			<label for="website_title" class="bulma-label bulma-is-small">站点名称</label>
			<div class="bulma-control">
				<input class="bulma-input bulma-is-small" type="text" name="website_title" value="{{ data.website_title }}">
			</div>
		</div>
		<div class="bulma-field">
			<label for="favicon" class="bulma-label bulma-is-small">favicon地址</label>
			<div class="bulma-control">
				<input class="bulma-input bulma-is-small" type="text" name="favicon" value="{{ data.favicon }}">
			</div>
		</div>

		<div class="bulma-field">
			<label for="theme" class="bulma-label bulma-is-small">默认主题</label>
			<div class="bulma-control">
				<input class="bulma-input bulma-is-small" type="text" name="theme" value="{{ data.theme }}">
			</div>
		</div>

		<div class="bulma-field text-xs">
			<label class="checkbox  items-center gap-2" style="display: flex !important;">
				<input type="checkbox" class="bulma-is-small" name="disable_register" {{ data.config.disable_register == "on" ? 'checked' : '' }}/>
				<span class="font-bold ">禁止注册用户</span>
			</label>
		</div>

		<div class="bulma-field">
			<label for="css" class="bulma-label bulma-is-small">自定义CSS</label>
			<div class="bulma-control">
				<textarea class="bulma-textarea bulma-is-small" name="css">{{ data.config.css }}</textarea>
			</div>
		</div>

		<div class="bulma-field">
			<label for="js" class="bulma-label bulma-is-small">自定义JS</label>
			<div class="bulma-control">
				<textarea class="bulma-textarea bulma-is-small" name="js">{{ data.config.js }}</textarea>
			</div>
		</div>

		<section>
			<div class="mb-2 flex justify-between items-center cursor-pointer" id="toggleS3Btn">
				<h2 class="font-bold ">S3相关配置</h2>
				<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				     viewBox="0 0 32 32">
					<path d="M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z" fill="currentColor"></path>
				</svg>
			</div>
			<div class="p-4 border rounded border-gray-300 border-solid hidden" id="s3Config">
				<div class="bulma-field">
					<label for="s3_key" class="bulma-label bulma-is-small">Access Key</label>
					<div class="bulma-control">
						<input class="bulma-input bulma-is-small" type="text" name="ak" value="{{ data.config.ak }}">
					</div>
				</div>
				<div class="bulma-field">
					<label for="s3_secret" class="bulma-label bulma-is-small">Secret Key</label>
					<div class="bulma-control">
						<input class="bulma-input bulma-is-small" type="text" name="sk" value="{{ data.config.sk }}">
					</div>
				</div>
				<div class="bulma-field">
					<label for="s3_secret" class="bulma-label bulma-is-small">域名</label>
					<div class="bulma-control">
						<input class="bulma-input bulma-is-small" type="text" name="domain" value="{{ data.config.domain }}">
					</div>
				</div>
				<div class="bulma-field">
					<label for="endpoint" class="bulma-label bulma-is-small">S3 Endpoint</label>
					<div class="bulma-control">
						<input class="bulma-input bulma-is-small" type="text" name="endpoint" value="{{ data.config.endpoint }}">
					</div>
				</div>
				<div class="bulma-field">
					<label for="bucket" class="bulma-label bulma-is-small">桶名称</label>
					<div class="bulma-control">
						<input class="bulma-input bulma-is-small" type="text" name="bucket" value="{{ data.config.bucket }}">
					</div>
				</div>
				<div class="bulma-field">
					<label for="suffix" class="bulma-label bulma-is-small">后缀</label>
					<div class="bulma-control">
						<input class="bulma-input bulma-is-small" type="text" name="suffix" value="{{ data.config.suffix }}">
					</div>
				</div>
			</div>
		</section>



		{% if message %}
			<div class="block has-text-danger">{{ message }}</div>
		{% endif %}

		<div class="field my-2">
			<div class="bulma-control">
				<button class="bulma-button bulma-is-link bulma-is-small">
					<span>保存设置</span>
				</button>
			</div>

		</div>

	</form>
{% endblock %}

{% block afterScript %}
	<script>

    const readImage = (file, callback) => {
      const reader = new FileReader();
      reader.onload = (e) => {
        callback(e.target.result);
      };
      reader.readAsDataURL(file);
    };

    const fileChanged = (name) =>{

    }

    $(function () {
      $("#toggleS3Btn").click(() => {
        $("#s3Config").toggle()
      })

      $("input[type=file]").change(function () {
        const file = this.files[0];
        const name = $(this).attr('name')
        if (!file) {
          return;
        }
        readImage(file, (url) => {
          $("#"+name).attr("src", url);
        });
      });

      $("input[name='avatar_url']").change(function () {
        const url = $(this).val()
        $("#avatar_url").attr("src", url)
      })

      $("input[name='cover_url']").change(function () {
        const url = $(this).val()
        $("#cover_url").attr("src", url)
      })
    })
	</script>
{% endblock %}