{% extends 'default/layout/base.Twig' %}
{% block title %} 用户登录 {% endblock %}

{% block content %}

	<form action="/user/doLogin" method="post" class="px-10 py-4">
		<div class="bulma-field">
			<label for="username" class="bulma-label bulma-is-small">用户名</label>
			<div class="bulma-control">
				<input class="bulma-input bulma-is-small" type="text" name="username" value="{{ data.username }}">
			</div>
			{% if exception starts with '用户名' %}
				<p class="bulma-help bulma-is-danger">{{ exception }}</p>
			{% endif %}
		</div>

		<div class="bulma-field">
			<label for="password" class="bulma-label bulma-is-small">密码</label>
			<div class="bulma-control">
				<input class="bulma-input bulma-is-small" type="password" name="password" value="{{ data.password }}">
			</div>
			{% if exception starts with '密码' %}
				<p class="bulma-help bulma-is-danger">{{ exception }}</p>
			{% endif %}
		</div>

		{% if message %}
			<div class="bulma-block has-text-success">{{ message }}</div>
		{% endif %}

		<div class="bulma-field bulma-is-grouped">
			<div class="bulma-control">
				<button class="bulma-button bulma-is-link bulma-is-small">
					<span>登录</span>
				</button>

				<a class="bulma-button bulma-is-light bulma-is-small" href="/user/reg">去注册</a>
			</div>

		</div>

	</form>

{% endblock %}